{% extends 'base.html' %}

{% block content %}
<h1>Cart</h1>

{% if cart.products.exists %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Product name</th>

        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    {% for product in cart.products.all %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>
            <a href="{{product.get_absolute_url}}">
               <b>{{product.title}}</b> </a>

                {% include 'products/snippets/update-cart.html' with product=product cart=cart in_cart=True %}

        </td>
        <td>{{product.price}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2"></td>
        <td><b>Subtotal {{ cart.subtotal }}</b></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td><b>Total {{ cart.total }}</b></td>
    </tr>
    </tbody>
</table>
{% else %}
<p> Cart is empty</p>
{% endif %}

{% endblock %}