<div class="card" style="width: 20rem;">
  {% if instance.image %}
    <a href="{{ instance.get_absolute_url}}">
    <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title }} logo">
    </a>
    {% endif %}
  <div class="card-block">
    <h3 class="card-title">{{ instance.title }}</h3>
    <p class="card-text">{{ instance.timestamp|timesince }}</p>
    <p class="card-text">{{ instance.description|truncatewords:12 }}</p>
    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>
  </div>
</div>